MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=employee_activity_db
MOCK_CAMERA=False
MOVEMENT_THRESHOLD=0.012
ABSENT_TIMEOUT=10.0
IDLE_TIMEOUT=60.0
DEFAULT_EMPLOYEE_ID=1

# YOLO configurations
YOLO_MODEL_NAME=yolov8s-pose.pt
YOLO_INFERENCE_SIZE=320
YOLO_CONFIDENCE_THRESHOLD=0.25
YOLO_DEVICE=cpu
YOLO_SMOOTHING_FACTOR=0.35
YOLO_EPSILON_FILTER=0.0015
YOLO_ACTIVITY_THRESHOLD=0.50
YOLO_TRACKER=bytetrack.yaml
YOLO_DEBUG_MODE=False
